@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background-image: linear-gradient(to right, #F2DED7, #EAC6B8);
}

p {
    text-align: justify;
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(119, 101, 94, 0.600);
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #CF8562;
    text-align: center;
    text-shadow: 1px 1px 2px #80513c;
}
h2 {
    color: #6F8E88;
}

/* Color Theme Swatches in Hex */
